/* General */
main {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.content-aboutus {
  display: flex;          
  justify-content: center; 
  padding: 40px 0;
}

/* Contenedor */
.container {
  display: flex;
  gap: 40px; 
  padding: 40px;
}

/* Sobre Nosotros */
.title {
  font-size: 22px;
  margin: 10px 0px;
  color: #134e97;
}

.info {
  background: aliceblue !important;
  padding: 0px 10px;
  font-size: 14px;
  width: 600px;
  height: 320px;
  flex: 1 1 400px; 
  box-sizing: border-box;
  border-radius: 10px;
}

.img {
  position: relative;
  top: -100px;
  left: 440px;
  width: 140px;
  height: 140px;
}

a {
  padding-left: 1px !important;
}

/* Formulario de Contacto */
.contacto {
  flex: 1 1 400px; 
  box-sizing: border-box;
}

.form-contact {
  background: aliceblue !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  width: 600px;
  height: 320px;
  border-radius: 10px;
}

input {
  width: 220px;
  min-height: 30px;
  margin: 4px 0px;
  border-radius: 8px;
  border: 2px solid black;
  padding-left: 4px;
  background-color: aliceblue;
}

textarea {
  width: 220px;
  min-height: 60px;
  margin: 4px 0px;
  border-color: black;
  border-radius: 8px;
  border: 2px solid black;
  padding-left: 4px;
  resize: none;
  background-color: aliceblue;
}

input:hover, textarea:hover {
  border-color: rgb(146, 109, 180);
}

/* Boton del Formulario */
.enviar {
  width: 110px;
  min-height: 40px;
}

button.enviar {
  margin: 8px 0px;
  border-radius: 8px;
  border: none;
  background-color: rgb(146, 109, 180);
}

button.enviar:hover {
  background-color: rgb(97, 59, 133);
}

/* Mensaje de Exito */
.success {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.success.visible {
  opacity: 1;
  text-align: center;
}

/* Errores */
.errores {
  color: rgb(255, 0, 0);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}

/* ---- RESPONSIVE ---- */

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}